<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.joohee.repository.ReservationMapper">
    <select id="getReservations"
            parameterType="com.flab.joohee.dto.request.ReservationRequest"
            resultType="com.flab.joohee.model.domain.entity.Reservation">
        select *
        from dual;
    </select>

    <select id="getReservation"
            parameterType="com.flab.joohee.dto.request.ReservationRequest"
            resultType="com.flab.joohee.model.domain.entity.Reservation">
        select *
        from dual;
    </select>

    <insert id="createReservation">
    </insert>

    <update id="updateReservation">
    </update>
</mapper>
